@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AlegreyaSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Regular.woff") format("woff"), url("../fonts/AlegreyaSans-Regular.ttf") format("truetype"), url("../fonts/AlegreyaSans-Regular.svg#b5e1ce009fce750f5852cc3d16bee163") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AlegreyaSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Bold.woff") format("woff"), url("../fonts/AlegreyaSans-Bold.ttf") format("truetype"), url("../fonts/AlegreyaSans-Bold.svg#949ed3009904a48b13e4e96d2b10c3a5") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}
